<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Athena</title>

    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="../../Assets/User/Css/styles.css" />
  </head>
  <body>
    <div class="home">
      <!-- Landing Page -->
      <div class="landing-page padding">
        <nav class="navbar navbar-expand-lg">
          <div class="container">
            <a class="navbar-brand d-flex" style="margin-top: 8px" href="#">
              <img src="../../Assets/User/Images/Athena.avif" alt="Logo" />
              <p
                class="poppins-semibold"
                style="margin-left: 10px; color: black; font-size: 26px"
              >
                Athena
              </p>
            </a>
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarNav"
              aria-controls="navbarNav"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div
              class="collapse navbar-collapse"
              id="navbarNav"
              style="margin-left: 70px"
            >
              <ul class="navbar-nav" style="font-size: 14px">
                <li class="nav-item">
                  <a class="nav-link" href="#">Purchase</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Cart</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Order History</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Location</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <div class="container">
          <p
            class="plus-jakarta-sans-ExtraBold"
            style="font-size: 76px; line-height: 89px; letter-spacing: -4%"
          >
            Search & review <br />
            your <span class="primary-color">fav book</span> <br />
            effortlessly
          </p>
<a href="">
          <p class="plus-jakarta-sans-Regular" style="font-size: 16px">
            Embark on a literary journey like never before with our
            revolutionary <br />
            library application! Introducing a seamless experience <br />
            that transcends traditional boundaries, where you <br />
            can effortlessly search your favorite books.✨<br />
          </p>
        </a>
          <button class="btn blue">Start now</button>
        </div>
      </div>
      <!-- Features -->

      <div class="features padding" style="margin-top: 30px">
        <div class="container">
          <p class="plus-jakarta-sans-ExtraBold blue-heading">FEATURES</p>
          <p class="plus-jakarta-sans-ExtraBold black-heading">
            🤔• What You Can Do?
          </p>

          <div class="row" style="margin-top: 80px">
            <div class="col-4">
              <div class="card-item text-center">
                <div class="img-bg">
                  <img src="../../Assets/User/Images/Search.png" alt="" />
                </div>

                <p class="plus-jakarta-sans-Bold heading">Search book</p>
                <p class="plus-jakarta-sans-Medium content">
                  Effortlessly find your next read with our powerful and
                  intuitive book search.
                </p>
              </div>
            </div>

            <div class="col-4">
              <div class="card-item text-center">
                <div class="img-bg">
                  <img src="../../Assets/User/Images/Search.png" alt="" />
                </div>

                <p class="plus-jakarta-sans-Bold heading">Review book</p>
                <p class="plus-jakarta-sans-Medium content">
                  Discover insightful critiques and share your thoughts on
                  diverse literary masterpieces effortlessly.
                </p>
              </div>
            </div>

            <div class="col-4">
              <div class="card-item text-center">
                <div class="img-bg">
                  <img src="../../Assets/User/Images/Search.png" alt="" />
                </div>

                <p class="plus-jakarta-sans-Bold heading">Order book</p>
                <p class="plus-jakarta-sans-Medium content">
                  Curate your literary dreams-wishlist books for future
                  adventures and discoveries.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="rent-service padding" style="margin-top: 100px">
        <div class="container">
          <p class="plus-jakarta-sans-ExtraBold blue-heading">SERVICES</p>
          <p class="plus-jakarta-sans-ExtraBold black-heading">
            🚀• The Services for You
          </p>

          <div class="row" style="margin-top: 60px">
            <div class="col-6">
              <img src="../../Assets/User/Images/BuyBooks.png" alt="" />
            </div>

            <div class="col-6 padding">
              <p class="heading">
                <span>Rent</span> your favorite book fairly easy on Athena!
              </p>

              <p class="plus-jakarta-sans-Medium content">
                Viewing, rent, and organize your favorite books has never been
                easier. An integrated digital library rent that’s simple to use,
                Athena lets you spend less time managing your work and more time
                actually doing it!
              </p>

              <br />
              <p class="plus-jakarta-sans-Medium content">
                Effortless rentals, personalized shelves—Athena transforms book
                management, enhancing your reading experience~
              </p>
              <button class="btn blue">Rent</button>
            </div>
          </div>
          <div class="row" style="margin-top: 60px">
            <div class="col-6 padding">
              <p class="heading">
                Quick Book Rentals: <span>Dive</span> into
                <span>Reading</span> Instantly
              </p>

              <p class="plus-jakarta-sans-Medium content">
                Viewing, rent, and organize your favorite books has never been
                easier. An integrated digital library rent that’s simple to use,
                Athena lets you spend less time managing your work and more time
                actually doing it!
              </p>

              <br />
              <p class="plus-jakarta-sans-Medium content">
                Effortless rentals, personalized shelves—Athena transforms book
                management, enhancing your reading experience~
              </p>
              <button class="btn blue">Buy now</button>
            </div>

            <div class="col-6">
              <img src="../../Assets/User/Images/RentBooks.png" alt="" />
            </div>
          </div>
        </div>
      </div>

      <!-- Google maps -->
      <div class="location padding" style="margin-top: 100px">
        <div class="container">
          <p class="plus-jakarta-sans-ExtraBold blue-heading">LOCATION</p>
          <p class="plus-jakarta-sans-ExtraBold black-heading">
            🗺• Our Library Location
          </p>
          <div style="text-align: center">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3887.3420222392974!2d80.19851997385567!3d13.01387838730539!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a525d6a2a9f36a1%3A0x30bc5edfd8343076!2sPresidio%20Solutions%20Private%20Limited%20(formerly%20known%20as%20Coda%20Global)%2C%20Chennai!5e0!3m2!1sen!2sin!4v1718899799634!5m2!1sen!2sin"
              width="1000"
              height="400"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </div>
        </div>
      </div>

      <!-- Footer -->

      <div class="footer" style="margin-top: 80px">
        <div class="d-flex justify-content-around">
          <div class="div1">
            <p class="plus-jakarta-sans-Bold" style="font-size: 24px">
              Managed By
            </p>
            <img
              src="../../Assets/Images/Athena.avif"
              height="40px"
              alt="Logo"
            />
            <span
              class="poppins-semibold"
              style="margin-left: 10px; color: black; font-size: 26px"
            >
              Athena
            </span>
          </div>
          <div class="div2">
            <p class="plus-jakarta-sans-Bold" style="font-size: 24px">
              Social Media
            </p>
            <img src="../../Assets/User/Images/socmeds.png" alt="" />
          </div>
          <div class="div3">
            <p class="plus-jakarta-sans-Bold" style="font-size: 24px">Slogan</p>
            <p class="plus-jakarta-sans-Medium" style="font-size: 20px">
              #RentFavBooks
            </p>
          </div>
        </div>

        <div class="end-bar">
          <p style="padding-top: 15px">© 2024 Athena. All rights reserved.</p>
        </div>
      </div>
    </div>

    <!-- Include Bootstrap JavaScript -->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
      integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
